

 body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 200px;
 }


#container { 
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: auto;
}

header h1{
    text-align: center;
}



.square {
    flex: 0 0 6.25%;
    color: black;
    background-color: black;
}