

 body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;

 }
#container { 
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid purple;
    flex-grow: 1;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}


